/* Global */
@font-face {
  font-family: 'Barlow';
  src:
    url('./fonts/Barlow-Regular.woff2') format('woff2'),
    url('./fonts/Barlow-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src:
    url('./fonts/Barlow-Bold.woff2') format('woff2'),
    url('./fonts/Barlow-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
    color: #2e3440;
    background-color: #eceff4;
    font-family: 'Barlow', sans-serif;
}

body {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */
header, header * {
    background-color: #2e3440;
    color: #eceff4;
    border-radius: 25px;
}

header {
    padding-left:25px;
    padding-right: 25px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: 400;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a, nav a:visited{
    color: #eceff4;
    padding-left: 10px;
    text-decoration: none;
}

/* Section */
#highest-rated, #highest-rated h2, #highest-rated p  {
    background-color: #d8dee9;
    text-align: center;
    margin-bottom: 35px;
}

#highest-rated {
    max-width:  800px;
    margin: 35px auto 35px auto;
    padding: 5px 15px 25px 15px;
    border-radius: 25px;
}

#btn-more-info {
    background-color: #2e3440;
    color: #eceff4;
    border-radius: 10px;
    font-size: 1.2em;
    line-height: 2;
    padding: 0 10px;
    border: none;
    cursor: pointer;
}

#btn-more-info:hover {
    background-color: #5e81ac;
}

.category {
    text-align: center;
    margin-bottom: 25px;
}

.carousel {
    display: flex;
    justify-content: space-between;
}

.btn-arrow {
    border: none;
    font-size: 2.5em;
    cursor: pointer;
}

.fas:hover {
    color: #5e81ac;
}
