/* Global */
@font-face {
  font-family: 'Barlow';
  src:
    url('./fonts/Barlow-Regular.woff2') format('woff2'),
    url('./fonts/Barlow-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src:
    url('./fonts/Barlow-Bold.woff2') format('woff2'),
    url('./fonts/Barlow-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
    font-family: 'Barlow', sans-serif;
}

body {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eceff4;
}

/* Header */
header, header * {
    background-color: #2e3440;
    color: #eceff4;
    border-radius: 25px;
}

header {
    padding-left:25px;
    padding-right: 25px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: 400;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a, nav a:visited{
    color: #eceff4;
    padding-left: 10px;
    text-decoration: none;
}

/* Section */
#highest-rated {
    background-color: #d8dee9;
    color: #2e3440;
    text-align: center;
    max-width:  800px;
    margin: 35px auto 35px auto;
    padding: 5px 15px 25px 15px;
    border-radius: 25px;
}

#btn-more-info {
    background-color: #2e3440;
    color: #eceff4;
    border-radius: 10px;
    font-size: 1.2em;
    line-height: 2;
    padding: 0 10px;
    border: none;
    cursor: pointer;
}

#btn-more-info:hover {
    background-color: #5e81ac;
}

.category {
    background-color: #eceff4;
    color: #2e3440;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 25px;
}

.carousel {
    display: flex;
    justify-content: space-between;
}

.btn-arrow {
    border: none;
    font-size: 2.5em;
    cursor: pointer;
}

.fas:hover {
    color: #5e81ac;
}

/* ----------------
 * MODAL BOX
 -----------------*/

/* Background */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0);
    animation-name: modal-box;
    animation-duration: 0.3s;
}

@keyframes modal-box {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Content */
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #3b4252;
    color: #eceff4;
    min-height: 60%;
    max-width: 800px;
    margin: 10% auto auto auto;
    padding: 20px;
    border-radius: 15px;
}

/* Close Button */
#btn-close {
    float: right;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}

#btn-close:hover,
#btn-close:focus {
    color: #5e81ac;
    text-decoration: none;
    cursor: pointer;
} 
